@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Abel');

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
}
.mapboxgl-ctrl, .mapboxgl-ctrl-logo {
  display: none !important;
}


 #root {
  width: 300px !important;
}
#wrapper {
  width: 300px !important;
  z-index: 1000;
}
#navbar {
  width: 280px !important;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #fff;
  height: 40px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 100;
}

#menu {
  margin-top: 8px;
  margin-left: 8px;
}

#menu:hover {
  cursor: pointer;
}
#nav-wrapper {
  z-index: 100 !important;
}

#sidebar, #meetupDetails {
  z-index: 10089 !important;
  width: 310px !important;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: #fff;
  overflow-y: scroll;
  transform: translate3d(-310px, 0, 0);
}

.sidebar-shadow {
  box-shadow: 0 12px 36px 16px rgba(0,0,0,0.24);
  transform: translate3d(0px, 0, 0);
}
.close-menu {
  display:inline-block;
  float: right;
  padding: 5px;
}

.close-menu:hover {
  cursor: pointer;
}

#meetups a {
  text-decoration: none;
}
.meetupName {
  list-style: none;
  margin-bottom: 5px;
  font-weight: bold;
}

.meetupNames {
  font-size: 0.8em;
  font-family: 'Roboto', sans-serif;
  color: #121212;
}

.meetupContent {
  width: 310px;
  padding: 15px 20px 15px 20px;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
}

.meetupContent:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.meetupContent p {
  padding-bottom: 2px;
  margin: 0;
  font-weight: normal;
  font-size: 0.95em;
  font-family: 'Roboto', sans-serif;
  color: rgb(80, 80, 80);
}

/* TOOLTIPS */
[tooltip] {
  position: relative;
}

[tooltip]::before,
[tooltip]::after {
  text-transform: none;
  font-size: .9em;
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
  margin-left: 4px;
  margin-top: 2px;
}
[tooltip]::before {
  content: '';
  border: 5px solid transparent;
  z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
  content: attr(tooltip);
  font-family: 'Roboto', sans-serif;
  text-align: center;
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 1ch 1.5ch;
  box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
  background: #333;
  color: #fff;
  z-index: 1000; /* absurdity 2 */
}

[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}
[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, .5em);
}


/* KEYFRAMES */
@keyframes tooltips-vert {
  to {
    opacity: .9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: .9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}

/* MAP STYLING */
.mapboxgl-canvas {
  z-index: -23 !important;
}
.mapboxgl-marker {
  z-index: 88 !important;
  width: 25px;
  height: 25px;
}
.mapboxgl-popup {
  width: 320px;
  z-index: 88 !important;
}
.mapboxgl-popup-content {
  background-color: #fff;
  padding: 0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 0px !important;
}
.mapboxgl-popup-content h3 {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  text-align: center;
  color: #121212;
  background-color: #FBC02D;
  width: 100% !important;
  font-size: 1em;
  font-family: 'Abel', sans-serif;
  letter-spacing: 1px;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: #FBC02D;
  }
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: #fff;
  }
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: #fff;
  }
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: #fff;
  }
#description p {
  text-align: justify;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 0.80em;
  line-height: 1.4em;
  color: #16161d;
  font-family: 'Roboto', sans-serif;
}
.mapboxgl-popup-close-button {
  margin-top: 5px;
}
.mapboxgl-popup-close-button:hover {
  margin-top: 5px;
  background-color: #edb24f;
  opacity: 0.5;

}
.markerViewDetails {
  margin: 20px auto 20px auto;
  display: block;
  width: 88%;
  padding: 8px 0px 8px 0px;
  border: 1px solid #353c37;
  background-color: #3f4741;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
  transition: all 150ms linear;
  color: #fff;
}
.markerViewDetails:hover {
  background: #3b433d;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  color: #6a786e;
  text-decoration: none;
  text-shadow: -1px -1px 0 #282d29;
  transition: all 250ms linear;
}
